body {
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  }

.jumbotron {
  background-image: url(wallpaper2.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  min-height: 515px
}

.jumbotron img {
  height: auto;
}

.carousel-inner {
  width: 100%;
  height: 700px !important;
}

h1 {
  color: white;
  font: bold;
  font-size: 125px;
}

h2 {
  color: white;
  font-size: 50px;
  font-style: italic;
}

h3 {
  color: navy;
  font-weight: 500;
  font-variant: small-caps;
  font-size: 50px;
  font-family: Calibri;
}

.container {
  text-align: center;
}
