body {
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  background-color: white;
  }

.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 5px 5px 10px rgba(0,0,0,.6);
  font-weight: bold;
  font-size: 125px;
}

.jumbotron {
  background-image: url(wallpaper2.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  min-height: 375px
}

.jumbotron img {
  height: auto;
}

.jumbotron2 {
  background-image: url(bottom6.jpg);
  background-repeat:no-repeat;
  background-position: bottom;
  background-size: cover;
  min-height: 450px;
  width: 100%;
}

.jumbotron2 img {
  height: auto;
  width:100%
}

.carousel-inner {
  width: 100%;
}

.nav-bottom {
  text-align: center;
}

h1 {
  color: white;
  font: bold;
  font-size: 125px;
  text-shadow: 5px 5px 10px rgba(0,0,0,.6);
}

h2 {
  color: white;
  font-size: 50px;
  font-style: italic;
  text-shadow: 5px 5px 10px rgba(0,0,0,.6);
}

h3 {
  color: navy;
  font-weight: 500;
  font-variant: small-caps;
  font-size: 50px;
  text-shadow: 2px 2px 2px rgba(0,0,0,.6);
}

h4 {
  color: white;
  font-weight: 500;
  font-variant: small-caps;
  font-size: 18px;
  font-style: italic;
}

h5 {
  font-size: 70px;
  font-style: italic;
  font-weight: 400;
}

.container {
  text-align: center;
}
